@import url('https://fonts.googleapis.com/css?family=Gupter|Lilita+One|Pacifico|Roboto&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.navbar {
  height: 40px;
  width: 100%;
  background-image: linear-gradient(90deg, #003D4D 0%, #00C996 100%);
  justify-content: center;
}

.navbar-logo {
  font-size: 12px;
  font-family: pacifico;


}

.main {
  height: max-content;


}

.footer {

  background-image: linear-gradient(90deg, #003D4D 0%, #00C996 100%);
  text-align: center;
  height: max-content;
  font-size: 10px;
}

.footer-name {
  font-size: 12px;

}